.App {
  font-family: sans-serif;
  text-align: center;
}
.title {
  /* display: center; */
  color: white;
  background-color: #002244;
}
.header {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002244;
  text-align: center;
}
.li {
  float: left;
}
.li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}
.li:hover {
  background-color: #FFC107;
}
.header1 {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.li1 {
  display: inline-block;
  color:blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}